{% extends 'base.html.twig' %}

{% block title %}Weather index{% endblock %}

{% block body %}
    <h1>Weather index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Temperature</th>
                <th>Precipitation</th>
                {% if is_granted('ROLE_WEATHER_SHOW') or is_granted('ROLE_WEATHER_EDIT') %}
                    <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for weather in weather %}
            <tr>
                <td>{{ weather.id }}</td>
                <td>{{ weather.date ? weather.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ weather.temperature }}</td>
                <td>{{ weather.precipitation }}</td>
                <td>
                    {% if is_granted('ROLE_WEATHER_SHOW') %}
                        <a href="{{ path('app_weather_crud_show', {'id': weather.id}) }}">show</a>
                    {% endif %}

                    {% if is_granted('ROLE_WEATHER_EDIT') %}
                        <a href="{{ path('app_weather_crud_edit', {'id': weather.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_WEATHER_NEW') %}
        <a href="{{ path('app_weather_crud_new') }}">Create new</a>
    {% endif %}

    <br>

    {% if is_granted('ROLE_COUNTRY_INDEX') %}
        <a href="{{ path('app_country_crud_index') }}">Countries</a>
    {% endif %}

    {% if is_granted('ROLE_CITY_INDEX') %}
        <a href="{{ path('app_city_crud_index') }}">Cities</a>
    {% endif %}
{% endblock %}
