{% extends 'base.html.twig' %}

{% block title %}City index{% endblock %}

{% block body %}
    <h1>City index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Longitude</th>
                <th>Latitude</th>
                {% if is_granted('ROLE_CITY_SHOW') or is_granted('ROLE_CITY_EDIT') %}
                    <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.longitude }}</td>
                <td>{{ city.latitude }}</td>
                <td>
                    {% if is_granted('ROLE_CITY_SHOW') %}
                        <a href="{{ path('app_city_crud_show', {'id': city.id}) }}">show</a>
                    {% endif %}
                    
                    {% if is_granted('ROLE_CITY_EDIT') %}
                        <a href="{{ path('app_city_crud_edit', {'id': city.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_CITY_NEW') %}
        <a href="{{ path('app_city_crud_new') }}">Create new</a>
    {% endif %}

    <br>
    
    {% if is_granted('ROLE_COUNTRY_INDEX') %}
        <a href="{{ path('app_country_crud_index') }}">Countries</a>
    {% endif %}

    {% if is_granted('ROLE_WEATHER_INDEX') %}
        <a href="{{ path('app_weather_crud_index') }}">Weather</a>
    {% endif %}
{% endblock %}
